@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* @import '@fontsource-variable/archivo'; */
@import '@fontsource-variable/fira-code';

@import "@fontsource/pt-serif/400.css";
@import "@fontsource/pt-serif/700.css";

html,
body {
	height: 100%;
  font-size: 18px;
}

html {
  /* font-family: 'Archivo Variable', sans-serif; */
  font-family: 'PT Serif', sans-serif;
}

code, pre, tt, kbd, samp {
  font-family: "Fira Code Variable", monospace;
}

:root {
  --app-bg-color: #1C1E1E;
  --app-heading-color: #FFFFFF;
  --app-text-color: #E8E6E3;
  --app-muted-color: #B2ACA2;
  --app-math-color: #E8E6E3;
}


body {
  overflow-x: hidden;
  overflow-y: auto;

  background-color: var(--app-bg-color);
  /* color: rgb(224, 221, 217); */
  color: var(--app-text-color);
}

@layer components {
  h1, h2, h3, h4, h5, h6 {
    color: var(--app-heading-color);
  }

  .r {
    @apply bg-red-400;
  }

  .g {
    @apply bg-green-400;
  }

  .b {
    @apply bg-blue-400;
  }

  .y {
    @apply bg-yellow-400;
  }
}