@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import '@fontsource-variable/archivo';

html,
body {
	height: 100%;
}

html {
  font-family: 'Archivo Variable';
}

body {
  overflow-x: hidden;
  overflow-y: auto;

  /* background-color: #FEFCEBFF; */
}

